*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0%;
  line-height: 1.5;
}

.foto{
  width: 200px;
  height: auto;
  border-radius: 15%; 
  display: block;
  margin: 20px auto;
  margin-right: 20px;
}

.cabecalho{
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: darkgray;
  width: 100%;
  font-size: large;
}

.info{
  flex: 1;
}

.corpo{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px;
}

.esquerda{
  flex: 2;
  padding-right: 20px;
}

.direita{
  flex: 1;
}

ul li {
  background: #e8e8e8;
  margin: 5px ;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}

h2{
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}